@charset "UTF-8";

:root {
  --primary-color: #f13a11;
  --white-color: #ffffff;
  --dark-color: #171819;
  --about-bg-color: #f9f9f9;

  --gray-color: #909090;
  --link-color: #404040;
  --p-color: black;

  --base-font-family: "Plain", sans-serif;
  --font-weight-bold: bold;
  --font-weight-normal: normal;
  --font-weight-light: 300;
  --font-weight-thin: 100;

  --h1-font-size: 48px;
  --h2-font-size: 36px;
  --h3-font-size: 28px;
  --h4-font-size: 24px;
  --h5-font-size: 20px;
  --h6-font-size: 14px;
  --p-font-size: 13px;
  --a-font-size: 20px;
  --base-font-size: 16px;
  --menu-font-size: 14px;

  --border-radius-large: 100%;
  --border-radius-small: 2px;
}

html,
body {
  background: var(--white-color);
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

ul {
  list-style: none;
}

/*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-thin);
  line-height: normal;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
  letter-spacing: -1px;
  text-transform: uppercase;
  margin: 20px 0;
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
  letter-spacing: -2px;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-bold);
  letter-spacing: -1px;
  margin: 0;
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  color: var(--dark-color);
  font-size: var(--h6-font-size);
  line-height: inherit;
  margin: 0;
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
  line-height: 1.5em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--dark-color);
  font-weight: normal;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover,
a:active,
a:focus {
  color: var(--primary-color);
  text-decoration: none;
}

/* Navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-color);
  padding: 15px 0px;
}
.navbar_logo_icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar_logo_icons .space {
  width: 45%;
}
.navbar_logo_icons ul {
  width: 45%;
  display: flex;
  justify-content: flex-end;
}
.navbar_logo a {
  font-size: var(--h2-font-size);
  padding: 12px;
  font-weight: var(--font-weight-bold);
}
.navbar_menu {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #3a3a3a;
  padding: 8px 12px;
}
.navbar_menu li {
  padding: 0px 12px;
}
.navbar_menu li a {
  font-size: var(--h6-font-size);
  padding: 4px 12px;
}
.navbar_icons a {
  font-size: var(--a-font-size);
  padding: 12px;
}
.navbar_icons input {
  padding: 4px;
  background: none;
  border: none;
  color: var(--dark-color);
}
.navbar-toggler .navbar-toggler-icon {
  background: var(--primary-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

/* Section1 */
.section1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #3a3a3a;
}
.left {
  width: 25%;
  min-width: 300px;
  height: 920px;
  position: sticky;
  top: 10px;
  border-right: 1px solid black;
}
.left div {
  padding: 24px 8px;
  line-height: 24px;
}
.text1 {
  width: 100%;
}
.text1 p {
  line-height: 18px;
}
.text1 h5 {
  padding: 8px;
}
#first {
  margin-bottom: 10px;
}
.text3 input {
  width: 35px;
  height: 38px;
  border: 0px;
  border-radius: 0px;
  background-color: #d5d5d5;
}
.text3 > #help {
  text-decoration-line: underline;
}
.text4 button {
  width: 100px;
  height: 30px;
  background-color: black;
  color: ghostwhite;
  font-size: 12px;
  border: 1px dashed white;
}
.text4 .button2 {
  width: 130px;
  background-color: lightgray;
  color: #3a3a3a;
}
.text5 {
  width: 90%;
}
.text5 p {
  font-size: var(--p-font-size);
  line-height: 18px;
  text-decoration-line: underline;
  padding: 8px 0px;
}
#view {
  padding: 12px;
}

.right {
  width: 100%;
  display: flex;
  background-color: #eceef0;
}
.right_text {
  width: 50%;
  height: auto;
}
.right_text a {
  font-size: var(--h5-font-size);
  font-weight: var(--font-weight-bold);
}
.right_text div {
  padding: 20px;
}
.right_text div h5 {
  font-weight: var(--font-weight-bold);
}
.info {
  width: 100%;
}
.info_text h5 {
  font-size: 16px;
}
.info_text h6 {
  font-size: 12px;
  font-weight: bold;
}
.right_imgs {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.right_imgs img {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  transition: 0.5s;
}

.info_ul h2 {
  text-align: center;
}
.ulbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.ulbox ul {
  width: 100%;
  list-style: inside;
  padding: 10px;
}
.ulbox ul li {
  font-size: 14px;
  padding: 8px;
}

/* Section2 */
.section2 {
  width: 100%;
  height: auto;
}
.section2 .product {
  padding: 40px;
}
.section2 .product h4 {
  padding-left: 50px;
  font-weight: var(--font-weight-bold);
}
.section2 .product_imgs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section2 .product_imgs div {
  padding: 8px;
}
.section2 .product_imgs div img {
  transition: 0.5s;
}
.section2 .product_imgs div img:hover {
  transform: translateY(-25px);
}
.more {
  width: 50%;
  margin-left: 5%;
  padding: 100px 0px;
}
.more h5 {
  font-size: var(--h4-font-size);
  padding: 15px 0px;
}
.more h6 {
  font-size: 15px;
}
.store {
  text-align: center;
}
.store h3 {
  padding: 40px;
}
.store_imgtext {
  width: 100%;
  display: flex;
  justify-content: center;
}
.store_img img {
  width: 100%;
}
.store_imgtext div {
  padding: 20px;
}
.store_text h4 {
  font-weight: var(--font-weight-bold);
  margin-bottom: 20px;
}
.store_text p {
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  line-height: 24px;
}

/* Footer */
.footer {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .list {
  width: 100%;
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer .list ul {
  padding: 20px 30px;
}
.footer .list ul li {
  padding: 4px;
  font-weight: normal;
  text-decoration: none;
  transition: all 0.3s ease;
}
.footer .list ul .first {
  font-size: var(--h5-font-size);
  font-weight: var(--font-weight-bold);
}
.footer .list ul li a {
  color: var(--dark-color);
  font-size: var(--p-font-size);
  font-weight: 550;
}
.footer .list ul li a:hover,
.footer .list ul li a:active,
.footer .list ul li a:focus {
  color: var(--primary-color);
  outline: none;
  text-decoration: none;
}
/* Footer2 */
.footer2 {
  width: 100%;
  height: 60px;
  background-color: #353535;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer2 a {
  font-size: var(--h5-font-size);
  padding: 8px 12px;
  margin: 8px;
  color: var(--white-color);
}
.footer2 p {
  color: var(--white-color);
  padding-right: 20px;
}

@media screen and (max-width: 1025px) {
  .product h4 {
    text-align: center;
  }
  .footer .list > ul > li > .first {
    font-size: 14px;
  }
  .footer .list > ul > li > a {
    font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  .navbar_icons a {
    display: none;
  }
  .navbar_icons input {
    display: none;
  }
  .navbar_menu {
    display: none;
  }
  .navbar {
    border-bottom: 1px solid black;
  }

  .info_text {
    display: none;
  }
  .info_ul {
    display: none;
  }
  .section2 .product_imgs div img {
    transition: none;
  }
  .section2 .product_imgs div img:hover {
    transform: none;
  }

  .footer .list .ul1,
  .ul5 {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .right_text {
    display: none;
  }
  .right_imgs {
    width: 100%;
  }
  .more h5 {
    font-size: 14px;
  }
  .more h6 {
    font-size: 12px;
  }
  .footer2 a {
    font-size: 15px;
    padding: 4px;
  }
}
